@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    cursor: pointer;
    width: 100%;
    background:linear-gradient(to top,transparent 0%,rgb(0,0,0,0.3) 50%);
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    background-color: #0b0b0b;
    transition: 0.1s ease-out;
}

.logo img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50px;
}

.nav-list {
    display: flex;
    width: 70%;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 22px 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
    text-decoration: none;
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 10px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('./img2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;

}

.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.f-half {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-half {
    width: 30%;

}

.s-half img {
    width: 70%;
    border: 1px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.textbig {
    font-size: 29px;

}

.textsmall {
    font-size: 12px;
}

.btn {
    padding: 5px 13px;
    margin: 7px 0;
    margin-right: 3px;
    border: 1px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor:pointer;
}

.search:hover {
    background-color: black;
    color: white;
}

.su-btn:hover{
    background-color: red;
    font-weight: bold;
}


.btn-sm {
    padding: 6px 10x;
    vertical-align: middle;
}

.btn-dark {
    color: black;
    border: 2px solid black;
}

.s-btn{
    color: white;
    border: 2px solid white;
    background-color: black;
}
.s-btn:hover{
    background-color: black;
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    transition: 0.1s;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0 65px;
}

.sectionsubtag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 19px;
}

.contact {
    height: 750px;
    background-image: url(./contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#contact h2{
    color: white;
}

.textcenter {
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.form {
    max-width: 60%;
    margin: auto;
}

.forminput {
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 14px 0;
    padding: 5px 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textfooter {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}


.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

.tq{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: none;
}

#sponsers{
    height: 300px;
    background-color: #fbd6d6c7;
    margin-top: 10px;
  }
  
  #sponsers h1{
    text-align: center;
    padding-top: 23px;
    font-size: 35px;
  }
  
  #sponser{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spimg{
    margin: 70px;
    width: 193px;
    height: 120px;
  }